<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
	http://www.springframework.org/schema/beans/spring-beans.xsd    
	http://www.springframework.org/schema/aop    
	http://www.springframework.org/schema/aop/spring-aop.xsd    
	http://www.springframework.org/schema/tx    
	http://www.springframework.org/schema/tx/spring-tx.xsd    
	http://www.springframework.org/schema/context    
	http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- service -->
	<bean id="userService" class="org.lqz.sale.service.impl.UserServiceImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>

	<bean id="categoryService" class="org.lqz.sale.service.impl.CategoryServiceImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>

	<bean id="goodService" class="org.lqz.sale.service.impl.GoodServiceImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>

	<bean id="warehouseService" class="org.lqz.sale.service.impl.WarehouseServiceImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>

	<bean id="stockService" class="org.lqz.sale.service.impl.StockServiceImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	
	<bean id="stockGoodsService" class="org.lqz.sale.service.impl.StockGoodsServiceImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	
	<bean id="saleService" class="org.lqz.sale.service.impl.SaleServiceImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	
	<bean id="saleGoodsService" class="org.lqz.sale.service.impl.SaleGoodsServiceImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	
	<bean id="roleService" class="org.lqz.sale.service.impl.RoleServiceImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	
</beans>
	